<h3>Current Bands:</h3>
  <% if @bands.any? %>
    <h4><i>Click on a band name to edit or delete the band in your database</i></h4>
    <% @bands.each do |band| %>
      <ul>
        <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
      </ul>
    <% end %>
  <% else %>
    <h5>You haven't added any bands yet! Add a new band below!</h5>
  <% end %>


<h3>Add a new band:</h3>

<form action="/bands" method="post">
  <input placeholder="Band Name" id="band_name" name="band_name" type="text">
  <button type="submit">Add Band</button>
</form>

<br>
