<!DOCTYPE html>
<html>
  <head>

    <div class="jumbotron">
      <h1>UVBD</h1>
      <h3><i>The Ultimate Venue and Band Database</i></h3>
      <a class="btn btn-primary btn-md" href="/" role="button">HOME</a>
      <a class="btn btn-primary btn-md" href="/venues" role="button">VENUES</a>
      <a class="btn btn-primary btn-md" href="/bands" role="button">BANDS</a>
    </div>

    <title>UVBD</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
